In [1]:
#cargamos las librerias
import pandas as pd 
import numpy as np

**Nota**: De los 8 dataset entregados por la empresa se excluyeron cuatro
- Alternative Fuel Vehicles US y Light Duty Vehicles (motivo: mucho valores nulos y tenemos este dataset vehicle fuel economy data que lo reemplaza con mas informacion sobre vehiculos y mas limpio)
- taxi_zone.dbf se excluyo y se utilizara taxi+_zone_lookup ya que tiene mejores datos
- ElectricCarData_Norm (motivo: son los mismos datos que tenemos en ElectricCarData_clean y trabajaremos con este ultimo mencionado)

#### estacion de carga electrica y de combustion

In [2]:
#cargamos el dataset estacion de carga electrica y de combustion
est_elec_comb = pd.read_csv('../Datasets/Electric and Alternative Fuel Charging Stations.csv')

C:\Users\mwmar\AppData\Local\Temp\ipykernel_8836\2308391051.py:2: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  est_elec_comb = pd.read_csv('../Datasets/Electric and Alternative Fuel Charging Stations.csv')

In [3]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(est_elec_comb.shape)
est_elec_comb.head(5)

(70406, 65)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [4]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
est_elec_comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    70406 non-null  object
 1   Station Name                      70406 non-null  object
 2   Street Address                    70405 non-null  object
 3   Intersection Directions           4493 non-null   object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Plus4                             0 non-null      float64
 8   Station Phone                     65204 non-null  object
 9   Status Code                       70406 non-null  object
 10  Expected Date                     1218 non-null   object
 11  Groups With Access Code           70406 non-null  object
 12  Access Days Time                  66628 non-null  object
 13  Cards Accepted                    11289 non-null  object
 14  BD Blends                         1217 non-null   object
 15  NG Fill Type Code                 1603 non-null   object
 16  NG PSI                            1597 non-null   object
 17  EV Level1 EVSE Num                286 non-null    float64
 18  EV Level2 EVSE Num                54144 non-null  float64
 19  EV DC Fast Count                  8307 non-null   float64
 20  EV Other Info                     49 non-null     object
 21  EV Network                        60907 non-null  object
 22  EV Network Web                    50305 non-null  object
 23  Geocode Status                    70391 non-null  object
 24  Latitude                          70406 non-null  float64
 25  Longitude                         70406 non-null  float64
 26  Date Last Confirmed               70188 non-null  object
 27  ID                                70406 non-null  int64
 28  Updated At                        70406 non-null  object
 29  Owner Type Code                   30190 non-null  object
 30  Federal Agency ID                 955 non-null    float64
 31  Federal Agency Name               955 non-null    object
 32  Open Date                         69310 non-null  object
 33  Hydrogen Status Link              83 non-null     object
 34  NG Vehicle Class                  1780 non-null   object
 35  LPG Primary                       1867 non-null   object
 36  E85 Blender Pump                  4508 non-null   object
 37  EV Connector Types                60690 non-null  object
 38  Country                           70406 non-null  object
 39  Intersection Directions (French)  188 non-null    object
 40  Access Days Time (French)         6591 non-null   object
 41  BD Blends (French)                2 non-null      object
 42  Groups With Access Code (French)  70406 non-null  object
 43  Hydrogen Is Retail                117 non-null    object
 44  Access Code                       70406 non-null  object
 45  Access Detail Code                7423 non-null   object
 46  Federal Agency Code               955 non-null    object
 47  Facility Type                     27665 non-null  object
 48  CNG Dispenser Num                 1039 non-null   float64
 49  CNG On-Site Renewable Source      716 non-null    object
 50  CNG Total Compression Capacity    708 non-null    float64
 51  CNG Storage Capacity              357 non-null    float64
 52  LNG On-Site Renewable Source      62 non-null     object
 53  E85 Other Ethanol Blends          1458 non-null   object
 54  EV Pricing                        16961 non-null  object
 55  EV Pricing (French)               2032 non-null   object
 56  LPG Nozzle Types                  1826 non-null   object
 57  Hydrogen Pressures                116 non-null    object
 58  Hydrogen Standards                116 non-null    object
 59  CNG Fill Type Code                1603 non-null   object
 60  CNG PSI                           1597 non-null   object
 61  CNG Vehicle Class                 1622 non-null   object
 62  LNG Vehicle Class                 158 non-null    object
 63  EV On-Site Renewable Source       370 non-null    object
 64  Restricted Access                 53435 non-null  object
dtypes: float64(10), int64(1), object(54)
memory usage: 34.9+ MB

se escogieron 17 columnas del dataset sobre las estaciones electricas y de combustion las cuales por calidad de los datos.

**Diccionario de datos** de las columnas seleccionadas

- 'ID': IdentificaciÃ³n - Un identificador Ãºnico para la estaciÃ³n.
- 'Fuel Type Code': CÃ³digo de Tipo de Combustible
- 'Station Name': Nombre de la EstaciÃ³n
- 'Street Address': DirecciÃ³n de Calle 
- 'City': Ciudad - La ciudad donde se encuentra la estaciÃ³n.
- 'State': Estado - El estado donde se encuentra la estaciÃ³n.
- 'Country': PaÃ­s - El paÃ­s donde se encuentra la estaciÃ³n.
- 'Latitude': Latitud - La latitud geogrÃ¡fica de la ubicaciÃ³n de la estaciÃ³n.
- 'Longitude': Longitud - La longitud geogrÃ¡fica de la ubicaciÃ³n de la estaciÃ³n.
- ZIP': CÃ³digo ZIP - El cÃ³digo postal de la ubicaciÃ³n de la estaciÃ³n.
- 'Status Code': CÃ³digo de Estado - El estado de funcionamiento de la estaciÃ³n
- 'Groups With Access Code': Grupos con CÃ³digo de Acceso - Los grupos que tienen acceso a la estaciÃ³n.
- 'Access Days Time': Horario de DÃ­as de Acceso
- EV Network': Red de Carga EV - La red de carga de vehÃ­culos elÃ©ctricos asociada a la estaciÃ³n.
- 'Geocode Status': Estado de GeocodificaciÃ³n - El estado del proceso de geocodificaciÃ³n de la ubicaciÃ³n.
- 'Date Last Confirmed': Fecha de Ãšltima ConfirmaciÃ³n - La fecha en que la informaciÃ³n fue confirmada por Ãºltima vez.
- 'Updated At': Actualizado en - La fecha de la Ãºltima actualizaciÃ³n de la informaciÃ³n

In [5]:
## Seleccionar las columnas deseadas para el nuevo DataFrame

columnas = [
    'ID','Fuel Type Code', 'Station Name','Street Address', 'City', 'State','Country', 'Latitude', 'Longitude','ZIP',
    'Status Code', 'Groups With Access Code', 'Access Days Time', 'EV Network','Geocode Status','Updated At'
]

estacion = est_elec_comb[columnas]

# Imprimir el nuevo DataFrame
estacion.head(2)

,ID,Fuel Type Code,Station Name,Street Address,City,State,Country,Latitude,Longitude,ZIP,Status Code,Groups With Access Code,Access Days Time,EV Network,Geocode Status,Updated At
0,17,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,Montgomery,AL,US,32.367916,-86.267021,36107,E,Private,NaN,NaN,200-9,2022-06-14 16:22:47 UTC
1,42,CNG,PS Energy - Atlanta,340 Whitehall St,Atlanta,GA,US,33.745843,-84.398837,30303,E,Public - Card key at all times,24 hours daily,NaN,200-8,2022-02-10 19:42:29 UTC

In [6]:
# cantidad de filas y columnas
estacion.shape

(70406, 16)

In [7]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
estacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       70406 non-null  int64
 1   Fuel Type Code           70406 non-null  object
 2   Station Name             70406 non-null  object
 3   Street Address           70405 non-null  object
 4   City                     70406 non-null  object
 5   State                    70406 non-null  object
 6   Country                  70406 non-null  object
 7   Latitude                 70406 non-null  float64
 8   Longitude                70406 non-null  float64
 9   ZIP                      70405 non-null  object
 10  Status Code              70406 non-null  object
 11  Groups With Access Code  70406 non-null  object
 12  Access Days Time         66628 non-null  object
 13  EV Network               60907 non-null  object
 14  Geocode Status           70391 non-null  object
 15  Updated At               70406 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 8.6+ MB

In [8]:
# reemplazamos los valores nulos como no especificado
estacion.fillna('no especificado', inplace = True)

C:\Users\mwmar\AppData\Local\Temp\ipykernel_8836\1232983274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estacion.fillna('no especificado', inplace = True)

In [9]:
estacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       70406 non-null  int64
 1   Fuel Type Code           70406 non-null  object
 2   Station Name             70406 non-null  object
 3   Street Address           70406 non-null  object
 4   City                     70406 non-null  object
 5   State                    70406 non-null  object
 6   Country                  70406 non-null  object
 7   Latitude                 70406 non-null  float64
 8   Longitude                70406 non-null  float64
 9   ZIP                      70406 non-null  object
 10  Status Code              70406 non-null  object
 11  Groups With Access Code  70406 non-null  object
 12  Access Days Time         70406 non-null  object
 13  EV Network               70406 non-null  object
 14  Geocode Status           70406 non-null  object
 15  Updated At               70406 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 8.6+ MB

In [10]:
# exportamos
#exportamos el archivo con la primera transformacion
estacion.to_csv('Datasets_limpios/estacion.csv',index=False)

#### Vehiculos electricos

In [11]:
#cargamos el dataset vehiculos electricos limpio
veh_elec = pd.read_csv('../Datasets/ElectricCarData_Clean.csv')

In [15]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_elec.shape)
veh_elec.head(3)

(103, 14)

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440

In [16]:
veh_elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

**Diccionario de datos** 

- 'Brand': Marca - La marca del automÃ³vil elÃ©ctrico.
- 'Model': Modelo - El nombre especÃ­fico del modelo del automÃ³vil elÃ©ctrico.
- 'AccelSec': AceleraciÃ³n (segundos) - El tiempo en segundos que el automÃ³vil tarda en acelerar de 0 a 100 km/h.
- 'TopSpeed_KmH': Velocidad MÃ¡xima (km/h) - La velocidad mÃ¡xima en kilÃ³metros por hora que puede alcanzar el automÃ³vil elÃ©ctrico.
- 'Range_Km': AutonomÃ­a (km) - La distancia mÃ¡xima que el automÃ³vil puede recorrer con una carga completa de baterÃ­a.
- 'Efficiency_WhKm': Eficiencia (Wh/km) - La eficiencia energÃ©tica del automÃ³vil, medida en vatios-hora por kilÃ³metro.
- 'FastCharge_KmH': Carga RÃ¡pida (km/h) - La velocidad de carga rÃ¡pida del automÃ³vil en kilÃ³metros por hora.
- 'RapidCharge': Carga RÃ¡pida - Indica si el automÃ³vil es compatible con la carga rÃ¡pida.
- 'PowerTrain': Tren de Potencia - El tipo de tren de potencia del automÃ³vil (por ejemplo, elÃ©ctrico, hÃ­brido).
- 'PlugType': Tipo de Enchufe - El tipo de enchufe utilizado para cargar el automÃ³vil.
- 'BodyStyle': Estilo de CarrocerÃ­a - El estilo de la carrocerÃ­a del automÃ³vil (por ejemplo, sedÃ¡n, SUV, hatchback).
- 'Segment': Segmento - La categorÃ­a o segmento al que pertenece el automÃ³vil.
- 'Seats': Asientos - El nÃºmero de asientos en el automÃ³vil.
- 'PriceEuro': Precio (euros) - El precio del automÃ³vil elÃ©ctrico en euros.

In [17]:
#exportamos el archivo con la primera transformacion
veh_elec.to_csv('Datasets_limpios/veh_elec.csv',index=False)

#### Zona de taxis

In [52]:
#cargamos el dataset busqueda de zona de taxis
zona_taxi = pd.read_csv('../Datasets/taxi+_zone_lookup.csv')

In [53]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(zona_taxi.shape)
zona_taxi.head(5)

(265, 4)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [54]:
zona_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

**Diccionario de datos**

- 'LocationID': ID de UbicaciÃ³n - Un identificador Ãºnico para la ubicaciÃ³n de la zona de taxi.
- 'Borough': Distrito - El distrito o borough al que pertenece la zona de taxi.
- 'Zone': Zona - El nombre o etiqueta de la zona de taxi.
- 'service_zone': Zona de Servicio - La zona de servicio a la que pertenece la zona de taxi.

In [59]:
# observamos los registros de service_zone nulos
zona_taxi[zona_taxi['service_zone'].isnull()]

     LocationID  Borough Zone service_zone
263         264  Unknown   NV          NaN
264         265  Unknown  NaN          NaN

In [60]:
#borra valores faltantes
zona_taxi.dropna(inplace = True)

In [64]:
zona_taxi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 0 to 262
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    263 non-null    int64
 1   Borough       263 non-null    object
 2   Zone          263 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.3+ KB

In [65]:
#exportamos el archivo con la primera transformacion
zona_taxi.to_csv('Datasets_limpios/zona_taxi.csv',index=False)

#### vehiculos de combustion

In [2]:
#cargamos el dataset vehiculos de combustion
veh_com = pd.read_csv('../Datasets/Vehicle Fuel Economy Data.csv')

C:\Users\mwmar\AppData\Local\Temp\ipykernel_10200\3131850213.py:2: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  veh_com = pd.read_csv('../Datasets/Vehicle Fuel Economy Data.csv')

In [3]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_com.shape)
veh_com.head(3)

(46186, 82)

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0

In [8]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46186 entries, 0 to 46185
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             46186 non-null  int64
 1   Manufacturer     46186 non-null  object
 2   Model            46176 non-null  object
 3   barrels08        46169 non-null  float64
 4   barrelsA08       46169 non-null  float64
 5   charge240        46169 non-null  float64
 6   city08           46169 non-null  float64
 7   city08U          46169 non-null  float64
 8   cityA08          46169 non-null  float64
 9   cityA08U         46169 non-null  float64
 10  cityCD           46169 non-null  float64
 11  cityE            46169 non-null  float64
 12  cityUF           46169 non-null  float64
 13  co2              46169 non-null  float64
 14  co2A             46169 non-null  float64
 15  co2TailpipeAGpm  46169 non-null  float64
 16  co2TailpipeGpm   46169 non-null  float64
 17  comb08           46169 non-null  float64
 18  comb08U          46169 non-null  float64
 19  combA08          46169 non-null  float64
 20  combA08U         46169 non-null  float64
 21  combE            46169 non-null  float64
 22  combinedCD       46169 non-null  float64
 23  combinedUF       46169 non-null  float64
 24  cylinders        45663 non-null  float64
 25  displ            45665 non-null  float64
 26  drive            44983 non-null  object
 27  engId            46169 non-null  float64
 28  eng_dscr         29092 non-null  object
 29  feScore          44953 non-null  float64
 30  fuelCost08       44953 non-null  float64
 31  fuelCostA08      44953 non-null  float64
 32  fuelType         44953 non-null  object
 33  fuelType1        44953 non-null  object
 34  ghgScore         44953 non-null  float64
 35  ghgScoreA        44953 non-null  float64
 36  highway08        44953 non-null  float64
 37  highway08U       44953 non-null  float64
 38  highwayA08       44953 non-null  float64
 39  highwayA08U      44953 non-null  float64
 40  VClass           44953 non-null  object
 41  highwayCD        44192 non-null  float64
 42  highwayE         44192 non-null  float64
 43  highwayUF        44192 non-null  float64
 44  hlv              44192 non-null  float64
 45  hpv              44192 non-null  float64
 46  id               44192 non-null  float64
 47  lv2              44192 non-null  float64
 48  lv4              44192 non-null  float64
 49  mpgData          44179 non-null  object
 50  phevBlended      44192 non-null  object
 51  pv2              44192 non-null  float64
 52  pv4              44192 non-null  float64
 53  range            44192 non-null  float64
 54  rangeCity        44192 non-null  float64
 55  rangeCityA       44192 non-null  float64
 56  rangeHwy         44192 non-null  float64
 57  rangeHwyA        44192 non-null  float64
 58  trany            44181 non-null  object
 59  UCity            44192 non-null  float64
 60  UCityA           44192 non-null  float64
 61  UHighway         44192 non-null  float64
 62  UHighwayA        44192 non-null  float64
 63  youSaveSpend     44192 non-null  float64
 64  guzzler          2635 non-null   object
 65  trans_dscr       14391 non-null  object
 66  tCharger         8531 non-null   object
 67  sCharger         987 non-null    object
 68  atvType          4386 non-null   object
 69  fuelType2        1647 non-null   object
 70  rangeA           1642 non-null   object
 71  evMotor          1874 non-null   object
 72  mfrCode          15200 non-null  object
 73  c240Dscr         133 non-null    object
 74  charge240b       44170 non-null  float64
 75  c240bDscr        127 non-null    object
 76  createdOn        44170 non-null  object
 77  modifiedOn       44170 non-null  object
 78  startStop        14357 non-null  object
 79  phevCity         44170 non-null  float64
 80  phevHwy          44170 non-null  float64
 81  phevComb         44170 non-null  float64
dtypes: float64(57), int64(1), object(24)
memory usage: 28.9+ MB

In [9]:
# Mover la columna 'ColumnaC' a la primera posiciÃ³n
columna_movida = veh_com.pop('id')  # Extraer la columna
veh_com.insert(0, 'id', columna_movida)  # Insertarla en la primera pid

In [13]:
#cantidad de valores duplicados
veh_com['id'].duplicated().sum()

1993

In [17]:
veh_com.drop_duplicates(subset=['id'], keep='first', inplace=True)

In [22]:
# Seleccionar las columnas con un total de registros mayor a 44169
veh_com = veh_com.loc[:, veh_com.count() > 44169]

In [27]:
#borra la fila con valores faltantes
veh_com.dropna(inplace = True)

C:\Users\mwmar\AppData\Local\Temp\ipykernel_10200\1655370377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veh_com.dropna(inplace = True)

In [32]:
veh_com['id'] = veh_com['id'].astype(int)

C:\Users\mwmar\AppData\Local\Temp\ipykernel_10200\2733151691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  veh_com['id'] = veh_com['id'].astype(int)

In [33]:
veh_com.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44146 entries, 0 to 46185
Data columns (total 66 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               44146 non-null  int32
 1   Year             44146 non-null  int64
 2   Manufacturer     44146 non-null  object
 3   Model            44146 non-null  object
 4   barrels08        44146 non-null  float64
 5   barrelsA08       44146 non-null  float64
 6   charge240        44146 non-null  float64
 7   city08           44146 non-null  float64
 8   city08U          44146 non-null  float64
 9   cityA08          44146 non-null  float64
 10  cityA08U         44146 non-null  float64
 11  cityCD           44146 non-null  float64
 12  cityE            44146 non-null  float64
 13  cityUF           44146 non-null  float64
 14  co2              44146 non-null  float64
 15  co2A             44146 non-null  float64
 16  co2TailpipeAGpm  44146 non-null  float64
 17  co2TailpipeGpm   44146 non-null  float64
 18  comb08           44146 non-null  float64
 19  comb08U          44146 non-null  float64
 20  combA08          44146 non-null  float64
 21  combA08U         44146 non-null  float64
 22  combE            44146 non-null  float64
 23  combinedCD       44146 non-null  float64
 24  combinedUF       44146 non-null  float64
 25  engId            44146 non-null  float64
 26  feScore          44146 non-null  float64
 27  fuelCost08       44146 non-null  float64
 28  fuelCostA08      44146 non-null  float64
 29  fuelType         44146 non-null  object
 30  fuelType1        44146 non-null  object
 31  ghgScore         44146 non-null  float64
 32  ghgScoreA        44146 non-null  float64
 33  highway08        44146 non-null  float64
 34  highway08U       44146 non-null  float64
 35  highwayA08       44146 non-null  float64
 36  highwayA08U      44146 non-null  float64
 37  VClass           44146 non-null  object
 38  highwayCD        44146 non-null  float64
 39  highwayE         44146 non-null  float64
 40  highwayUF        44146 non-null  float64
 41  hlv              44146 non-null  float64
 42  hpv              44146 non-null  float64
 43  lv2              44146 non-null  float64
 44  lv4              44146 non-null  float64
 45  mpgData          44146 non-null  object
 46  phevBlended      44146 non-null  object
 47  pv2              44146 non-null  float64
 48  pv4              44146 non-null  float64
 49  range            44146 non-null  float64
 50  rangeCity        44146 non-null  float64
 51  rangeCityA       44146 non-null  float64
 52  rangeHwy         44146 non-null  float64
 53  rangeHwyA        44146 non-null  float64
 54  trany            44146 non-null  object
 55  UCity            44146 non-null  float64
 56  UCityA           44146 non-null  float64
 57  UHighway         44146 non-null  float64
 58  UHighwayA        44146 non-null  float64
 59  youSaveSpend     44146 non-null  float64
 60  charge240b       44146 non-null  float64
 61  createdOn        44146 non-null  object
 62  modifiedOn       44146 non-null  object
 63  phevCity         44146 non-null  float64
 64  phevHwy          44146 non-null  float64
 65  phevComb         44146 non-null  float64
dtypes: float64(54), int32(1), int64(1), object(10)
memory usage: 22.4+ MB

In [34]:
veh_com.head()

,id,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,...,UCityA,UHighway,UHighwayA,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,37330,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,...,0.0,30.0000,0.0,-9750.0,0.0,04-04-2016,09-09-2016,0.0,0.0,0.0
1,37343,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,...,0.0,39.2499,0.0,-4000.0,0.0,04-04-2016,22-11-2016,0.0,0.0,0.0
2,37348,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,...,0.0,37.3000,0.0,-5250.0,0.0,04-04-2016,26-09-2016,0.0,0.0,0.0
3,37352,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,...,0.0,46.2000,0.0,-2500.0,0.0,12-04-2016,16-09-2016,0.0,0.0,0.0
4,37355,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,...,0.0,34.7000,0.0,-3250.0,0.0,12-04-2016,02-12-2016,0.0,0.0,0.0

**Diccionario de datos** de las columnas seleccionadas

- **id**: Identificador Ãºnico del vehÃ­culo.
- **Year**: AÃ±o de fabricaciÃ³n del vehÃ­culo.
- **Manufacturer**: Fabricante del vehÃ­culo.
- **Model**: Modelo del vehÃ­culo.
- **barrels08**: Consumo de barriles de combustible por aÃ±o en ciudad.
- **barrelsA08**: Consumo alternativo de barriles de combustible por aÃ±o en ciudad.
- **charge240**: Tiempo de carga en minutos a 240V.
- **city08**: Consumo de combustible en millas por galÃ³n en ciudad.
- **city08U**: Consumo de combustible en millas por galÃ³n en ciudad (ajustado).
- **cityA08**: Consumo alternativo de combustible en millas por galÃ³n en ciudad.
- **cityA08U**: Consumo alternativo de combustible en millas por galÃ³n en ciudad (ajustado).
- **cityCD**: Consumo de combustible en millas por galÃ³n en ciudad (diÃ©sel).
- **cityE**: Consumo de electricidad en millas por galÃ³n en ciudad.
- **cityUF**: Consumo de combustible en millas por galÃ³n en ciudad (gasolina comprimida).
- **co2**: Emisiones de diÃ³xido de carbono en gramos por milla.
- **co2A**: Emisiones alternativas de diÃ³xido de carbono en gramos por milla.
- **co2TailpipeAGpm**: Emisiones de diÃ³xido de carbono de la tuberÃ­a de escape en gramos por milla.
- **co2TailpipeGpm**: Emisiones de diÃ³xido de carbono de la tuberÃ­a de escape en gramos por milla (gasolina).
- **comb08**: Consumo de combustible en millas por galÃ³n combinado.
- **comb08U**: Consumo de combustible en millas por galÃ³n combinado (ajustado).
- **combA08**: Consumo alternativo de combustible en millas por galÃ³n combinado.
- **combA08U**: Consumo alternativo de combustible en millas por galÃ³n combinado (ajustado).
- **combE**: Consumo de electricidad en millas por galÃ³n combinado.
- **combinedCD**: Consumo de combustible combinado en millas por galÃ³n (diÃ©sel).
- **combinedUF**: Consumo de combustible combinado en millas por galÃ³n (gasolina comprimida).
- **engId**: Identificador del motor.
- **feScore**: Puntaje de economÃ­a de combustible.
- **fuelCost08**: Costo de combustible anual en dÃ³lares.
- **fuelCostA08**: Costo alternativo de combustible anual en dÃ³lares.
- **fuelType**: Tipo de combustible del vehÃ­culo.
- **fuelType1**: Tipo primario de combustible del vehÃ­culo.
- **ghgScore**: Puntaje de emisiones de gases de efecto invernadero.
- **ghgScoreA**: Puntaje alternativo de emisiones de gases de efecto invernadero.
- **highway08**: Consumo de combustible en millas por galÃ³n en carretera.
- **highway08U**: Consumo de combustible en millas por galÃ³n en carretera (ajustado).
- **highwayA08**: Consumo alternativo de combustible en millas por galÃ³n en carretera.
- **highwayA08U**: Consumo alternativo de combustible en millas por galÃ³n en carretera (ajustado).
- **VClass**: Clase del vehÃ­culo.
- **highwayCD**: Consumo de combustible en millas por galÃ³n en carretera (diÃ©sel).
- **highwayE**: Consumo de electricidad en millas por galÃ³n en carretera.
- **highwayUF**: Consumo de combustible en millas por galÃ³n en carretera (gasolina comprimida).
- **hlv**: Volumen del compartimiento del motor (pies cÃºbicos).
- **hpv**: Volumen de pasajeros (pies cÃºbicos).
- **lv2**: Volumen del compartimiento del motor 2 (pies cÃºbicos).
- **lv4**: Volumen del compartimiento del motor 4 (pies cÃºbicos).
- **mpgData**: Datos de economÃ­a de combustible disponibles.
- **phevBlended**: VehÃ­culo hÃ­brido enchufable.
- **pv2**: Peso vehicular 2 (libras).
- **pv4**: Peso vehicular 4 (libras).
- **range**: AutonomÃ­a del vehÃ­culo.
- **rangeCity**: AutonomÃ­a en ciudad del vehÃ­culo.
- **rangeCityA**: AutonomÃ­a alternativa en ciudad del vehÃ­culo.
- **rangeHwy**: AutonomÃ­a en carretera del vehÃ­culo.
- **rangeHwyA**: AutonomÃ­a alternativa en carretera del vehÃ­culo.
- **trany**: TransmisiÃ³n del vehÃ­culo.
- **UCity**: Consumo de combustible en millas por galÃ³n en ciudad (ajustado).
- **UCityA**: Consumo alternativo de combustible en millas por galÃ³n en ciudad (ajustado).
- **UHighway**: Consumo de combustible en millas por galÃ³n en carretera (ajustado).
- **UHighwayA**: Consumo alternativo de combustible en millas por galÃ³n en carretera (ajustado).
- **youSaveSpend**: Ahorro o gasto en combustible anual en dÃ³lares.
- **charge240b**: Tiempo de carga en minutos a 240V (segunda baterÃ­a).
- **createdOn**: Fecha de creaciÃ³n del registro.
- **modifiedOn**: Fecha de modificaciÃ³n del registro.
- **phevCity**: Consumo de combustible en millas por galÃ³n en ciudad (vehÃ­culo hÃ­brido enchufable).
- **phevHwy**: Consumo de combustible en millas por galÃ³n en carretera (vehÃ­culo hÃ­brido enchufable).
- **phevComb**: Consumo de combustible en millas por galÃ³n combinado (vehÃ­culo hÃ­brido enchufable).

In [35]:
#exportamos el archivo con la primera transformacion
veh_com.to_csv('Datasets_limpios/veh_com.csv',index=False)