In [27]:
#cargamos las librerias
import pandas as pd 
import numpy as np
from dbfread import DBF

#### dataset vehiculos de combustion

In [3]:
#cargamos el dataset vehiculos de combustion 
veh_comb = pd.read_csv('../Datasets/Alternative Fuel Vehicles US.csv')

In [4]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_comb.shape)
veh_comb.head(5)

(882, 22)

,Category,Model,Model Year,Manufacturer,Fuel,All-Electric Range,PHEV Total Range,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Conventional Fuel Economy Combined,Transmission Type,Transmission Make,Engine Type,Engine Size,Engine Cylinder Count,Number of Passengers,Heavy-Duty Power System,Notes,Drivetrain
0,Sedan/Wagon,NSX,2022.0,Acura,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,21.0,Auto,NaN,SI,3.5L,6.0,NaN,NaN,NaN,AWD
1,Sedan/Wagon,A3,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,32.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,FWD
2,Sedan/Wagon,A3 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,31.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
3,Sedan/Wagon,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,26.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
4,Sedan/Wagon,A4 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,29.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD

In [5]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Category                            882 non-null    object
 1   Model                               882 non-null    object
 2   Model Year                          594 non-null    float64
 3   Manufacturer                        882 non-null    object
 4   Fuel                                882 non-null    object
 5   All-Electric Range                  222 non-null    float64
 6   PHEV Total Range                    43 non-null     float64
 7   Alternative Fuel Economy City       169 non-null    float64
 8   Alternative Fuel Economy Highway    169 non-null    float64
 9   Alternative Fuel Economy Combined   262 non-null    float64
 10  Conventional Fuel Economy City      444 non-null    float64
 11  Conventional Fuel Economy Highway   444 non-null    float64
 12  Conventional Fuel Economy Combined  444 non-null    float64
 13  Transmission Type                   640 non-null    object
 14  Transmission Make                   125 non-null    object
 15  Engine Type                         589 non-null    object
 16  Engine Size                         589 non-null    object
 17  Engine Cylinder Count               449 non-null    float64
 18  Number of Passengers                121 non-null    object
 19  Heavy-Duty Power System             245 non-null    object
 20  Notes                               179 non-null    object
 21  Drivetrain                          329 non-null    object
dtypes: float64(10), object(12)
memory usage: 151.7+ KB

In [6]:
#cantidad de valores nulos por columna
veh_comb.isnull().sum()

Category                                0
Model                                   0
Model Year                            288
Manufacturer                            0
Fuel                                    0
All-Electric Range                    660
PHEV Total Range                      839
Alternative Fuel Economy City         713
Alternative Fuel Economy Highway      713
Alternative Fuel Economy Combined     620
Conventional Fuel Economy City        438
Conventional Fuel Economy Highway     438
Conventional Fuel Economy Combined    438
Transmission Type                     242
Transmission Make                     757
Engine Type                           293
Engine Size                           293
Engine Cylinder Count                 433
Number of Passengers                  761
Heavy-Duty Power System               637
Notes                                 703
Drivetrain                            553
dtype: int64

#### dataset estacion de carga electrica y de combustion

In [7]:
#cargamos el dataset estacion de carga electrica y de combustion
est_elec_comb = pd.read_csv('../Datasets/Electric and Alternative Fuel Charging Stations.csv')

C:\Users\mwmar\AppData\Local\Temp\ipykernel_9560\2308391051.py:2: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  est_elec_comb = pd.read_csv('../Datasets/Electric and Alternative Fuel Charging Stations.csv')

In [8]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(est_elec_comb.shape)
est_elec_comb.head(5)

(70406, 65)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [9]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
est_elec_comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fuel Type Code                    70406 non-null  object
 1   Station Name                      70406 non-null  object
 2   Street Address                    70405 non-null  object
 3   Intersection Directions           4493 non-null   object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Plus4                             0 non-null      float64
 8   Station Phone                     65204 non-null  object
 9   Status Code                       70406 non-null  object
 10  Expected Date                     1218 non-null   object
 11  Groups With Access Code           70406 non-null  object
 12  Access Days Time                  66628 non-null  object
 13  Cards Accepted                    11289 non-null  object
 14  BD Blends                         1217 non-null   object
 15  NG Fill Type Code                 1603 non-null   object
 16  NG PSI                            1597 non-null   object
 17  EV Level1 EVSE Num                286 non-null    float64
 18  EV Level2 EVSE Num                54144 non-null  float64
 19  EV DC Fast Count                  8307 non-null   float64
 20  EV Other Info                     49 non-null     object
 21  EV Network                        60907 non-null  object
 22  EV Network Web                    50305 non-null  object
 23  Geocode Status                    70391 non-null  object
 24  Latitude                          70406 non-null  float64
 25  Longitude                         70406 non-null  float64
 26  Date Last Confirmed               70188 non-null  object
 27  ID                                70406 non-null  int64
 28  Updated At                        70406 non-null  object
 29  Owner Type Code                   30190 non-null  object
 30  Federal Agency ID                 955 non-null    float64
 31  Federal Agency Name               955 non-null    object
 32  Open Date                         69310 non-null  object
 33  Hydrogen Status Link              83 non-null     object
 34  NG Vehicle Class                  1780 non-null   object
 35  LPG Primary                       1867 non-null   object
 36  E85 Blender Pump                  4508 non-null   object
 37  EV Connector Types                60690 non-null  object
 38  Country                           70406 non-null  object
 39  Intersection Directions (French)  188 non-null    object
 40  Access Days Time (French)         6591 non-null   object
 41  BD Blends (French)                2 non-null      object
 42  Groups With Access Code (French)  70406 non-null  object
 43  Hydrogen Is Retail                117 non-null    object
 44  Access Code                       70406 non-null  object
 45  Access Detail Code                7423 non-null   object
 46  Federal Agency Code               955 non-null    object
 47  Facility Type                     27665 non-null  object
 48  CNG Dispenser Num                 1039 non-null   float64
 49  CNG On-Site Renewable Source      716 non-null    object
 50  CNG Total Compression Capacity    708 non-null    float64
 51  CNG Storage Capacity              357 non-null    float64
 52  LNG On-Site Renewable Source      62 non-null     object
 53  E85 Other Ethanol Blends          1458 non-null   object
 54  EV Pricing                        16961 non-null  object
 55  EV Pricing (French)               2032 non-null   object
 56  LPG Nozzle Types                  1826 non-null   object
 57  Hydrogen Pressures                116 non-null    object
 58  Hydrogen Standards                116 non-null    object
 59  CNG Fill Type Code                1603 non-null   object
 60  CNG PSI                           1597 non-null   object
 61  CNG Vehicle Class                 1622 non-null   object
 62  LNG Vehicle Class                 158 non-null    object
 63  EV On-Site Renewable Source       370 non-null    object
 64  Restricted Access                 53435 non-null  object
dtypes: float64(10), int64(1), object(54)
memory usage: 34.9+ MB

In [10]:
#cantidad de valores nulos por columna
est_elec_comb.isnull().sum()

Fuel Type Code                     0
Station Name                       0
Street Address                     1
Intersection Directions        65913
City                               0
                               ...
CNG PSI                        68809
CNG Vehicle Class              68784
LNG Vehicle Class              70248
EV On-Site Renewable Source    70036
Restricted Access              16971
Length: 65, dtype: int64

#### dataset vehiculos electricos limpio

In [11]:
#cargamos el dataset vehiculos electricos limpio
veh_elec = pd.read_csv('../Datasets/ElectricCarData_Clean.csv')

In [12]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_elec.shape)
veh_elec.head(5)

(103, 14)

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [13]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [14]:
#observamos cantidad de valores nulos 
veh_elec.isnull().sum()

Brand              0
Model              0
AccelSec           0
TopSpeed_KmH       0
Range_Km           0
Efficiency_WhKm    0
FastCharge_KmH     0
RapidCharge        0
PowerTrain         0
PlugType           0
BodyStyle          0
Segment            0
Seats              0
PriceEuro          0
dtype: int64

#### dataset vehiculos electricos normalizados

In [16]:
#cargamos el dataset vehiculos electricos normalizados
veh_elec_norm = pd.read_csv('../Datasets/ElectricCarData_Norm.csv')

In [17]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_elec_norm.shape)
veh_elec_norm.head(5)

(103, 14)

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [18]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_elec_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        103 non-null    object
 1   Model        103 non-null    object
 2   Accel        103 non-null    object
 3   TopSpeed     103 non-null    object
 4   Range        103 non-null    object
 5   Efficiency   103 non-null    object
 6   FastCharge   103 non-null    object
 7   RapidCharge  103 non-null    object
 8   PowerTrain   103 non-null    object
 9   PlugType     103 non-null    object
 10  BodyStyle    103 non-null    object
 11  Segment      103 non-null    object
 12  Seats        103 non-null    int64
 13  PriceEuro    103 non-null    int64
dtypes: int64(2), object(12)
memory usage: 11.4+ KB

In [19]:
#observamos cantidad de valores nulos
veh_elec_norm.isnull().sum()

Brand          0
Model          0
Accel          0
TopSpeed       0
Range          0
Efficiency     0
FastCharge     0
RapidCharge    0
PowerTrain     0
PlugType       0
BodyStyle      0
Segment        0
Seats          0
PriceEuro      0
dtype: int64

#### dataset vehiculos ligeros

In [20]:
#cargamos el dataset vehiculos ligeros
veh_lig = pd.read_csv('../Datasets/Light Duty Vehicles.csv')

In [21]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_lig.shape)
veh_lig.head(5)

(3008, 29)

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD

In [22]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_lig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Vehicle ID                          3008 non-null   int64
 1   Fuel ID                             3008 non-null   int64
 2   Fuel Configuration ID               2973 non-null   float64
 3   Manufacturer ID                     3008 non-null   int64
 4   Category ID                         3008 non-null   int64
 5   Model                               3008 non-null   object
 6   Model Year                          3008 non-null   int64
 7   Alternative Fuel Economy City       1595 non-null   float64
 8   Alternative Fuel Economy Highway    1505 non-null   float64
 9   Alternative Fuel Economy Combined   467 non-null    float64
 10  Conventional Fuel Economy City      2044 non-null   float64
 11  Conventional Fuel Economy Highway   2046 non-null   float64
 12  Conventional Fuel Economy Combined  763 non-null    float64
 13  Transmission Type                   2924 non-null   object
 14  Engine Type                         2211 non-null   object
 15  Engine Size                         2874 non-null   object
 16  Engine Cylinder Count               2443 non-null   float64
 17  Engine Description                  1971 non-null   object
 18  Manufacturer                        3008 non-null   object
 19  Manufacturer URL                    2844 non-null   object
 20  Category                            3008 non-null   object
 21  Fuel Code                           3008 non-null   object
 22  Fuel                                3008 non-null   object
 23  Fuel Configuration Name             2973 non-null   object
 24  Electric-Only Range                 374 non-null    float64
 25  PHEV Total Range                    43 non-null     float64
 26  PHEV Type                           176 non-null    object
 27  Notes                               73 non-null     object
 28  Drivetrain                          329 non-null    object
dtypes: float64(10), int64(5), object(14)
memory usage: 681.6+ KB

In [23]:
#observamos cantidad de valores faltantes
veh_lig.isnull().sum()

Vehicle ID                               0
Fuel ID                                  0
Fuel Configuration ID                   35
Manufacturer ID                          0
Category ID                              0
Model                                    0
Model Year                               0
Alternative Fuel Economy City         1413
Alternative Fuel Economy Highway      1503
Alternative Fuel Economy Combined     2541
Conventional Fuel Economy City         964
Conventional Fuel Economy Highway      962
Conventional Fuel Economy Combined    2245
Transmission Type                       84
Engine Type                            797
Engine Size                            134
Engine Cylinder Count                  565
Engine Description                    1037
Manufacturer                             0
Manufacturer URL                       164
Category                                 0
Fuel Code                                0
Fuel                                     0
Fuel Configuration Name                 35
Electric-Only Range                   2634
PHEV Total Range                      2965
PHEV Type                             2832
Notes                                 2935
Drivetrain                            2679
dtype: int64

#### dataset zona de taxis

In [30]:
# cargamos dataset zona de taxis
dbf_path = '../Datasets/taxi_zones.dbf'
table = DBF(dbf_path)
zona_taxi = pd.DataFrame(iter(table))

In [31]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(zona_taxi.shape)
zona_taxi.head(5)

(263, 6)

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island

In [33]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
zona_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   Shape_Area  263 non-null    float64
 3   zone        263 non-null    object
 4   LocationID  263 non-null    int64
 5   borough     263 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 12.5+ KB

In [34]:
#observamos cantidad de valores faltantes
zona_taxi.isnull().sum()

OBJECTID      0
Shape_Leng    0
Shape_Area    0
zone          0
LocationID    0
borough       0
dtype: int64

#### dataset busqueda de zona de taxis

In [35]:
#cargamos el dataset busqueda de zona de taxis
bus_zona_taxi = pd.read_csv('../Datasets/taxi+_zone_lookup.csv')

In [36]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(bus_zona_taxi.shape)
bus_zona_taxi.head(5)

(265, 4)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [37]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
bus_zona_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [38]:
#observamos cantidad de valores faltantes
bus_zona_taxi.isnull().sum()

LocationID      0
Borough         0
Zone            1
service_zone    2
dtype: int64

#### dataset vehiculos de combustion 2

In [39]:
#cargamos el dataset vehiculos de combustion
veh_fuel = pd.read_csv('../Datasets/Vehicle Fuel Economy Data.csv')

C:\Users\mwmar\AppData\Local\Temp\ipykernel_9560\2546777039.py:2: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  veh_fuel = pd.read_csv('../Datasets/Vehicle Fuel Economy Data.csv')

In [40]:
#observamos numero de filas, columnas y las primeras 5 filas del dataset
print(veh_fuel.shape)
veh_fuel.head(5)

(46186, 82)

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,...,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,...,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0

In [41]:
# observamos nombre de columnas, cantidad de valores no nulos y tipo de datos
veh_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46186 entries, 0 to 46185
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             46186 non-null  int64
 1   Manufacturer     46186 non-null  object
 2   Model            46176 non-null  object
 3   barrels08        46169 non-null  float64
 4   barrelsA08       46169 non-null  float64
 5   charge240        46169 non-null  float64
 6   city08           46169 non-null  float64
 7   city08U          46169 non-null  float64
 8   cityA08          46169 non-null  float64
 9   cityA08U         46169 non-null  float64
 10  cityCD           46169 non-null  float64
 11  cityE            46169 non-null  float64
 12  cityUF           46169 non-null  float64
 13  co2              46169 non-null  float64
 14  co2A             46169 non-null  float64
 15  co2TailpipeAGpm  46169 non-null  float64
 16  co2TailpipeGpm   46169 non-null  float64
 17  comb08           46169 non-null  float64
 18  comb08U          46169 non-null  float64
 19  combA08          46169 non-null  float64
 20  combA08U         46169 non-null  float64
 21  combE            46169 non-null  float64
 22  combinedCD       46169 non-null  float64
 23  combinedUF       46169 non-null  float64
 24  cylinders        45663 non-null  float64
 25  displ            45665 non-null  float64
 26  drive            44983 non-null  object
 27  engId            46169 non-null  float64
 28  eng_dscr         29092 non-null  object
 29  feScore          44953 non-null  float64
 30  fuelCost08       44953 non-null  float64
 31  fuelCostA08      44953 non-null  float64
 32  fuelType         44953 non-null  object
 33  fuelType1        44953 non-null  object
 34  ghgScore         44953 non-null  float64
 35  ghgScoreA        44953 non-null  float64
 36  highway08        44953 non-null  float64
 37  highway08U       44953 non-null  float64
 38  highwayA08       44953 non-null  float64
 39  highwayA08U      44953 non-null  float64
 40  VClass           44953 non-null  object
 41  highwayCD        44192 non-null  float64
 42  highwayE         44192 non-null  float64
 43  highwayUF        44192 non-null  float64
 44  hlv              44192 non-null  float64
 45  hpv              44192 non-null  float64
 46  id               44192 non-null  float64
 47  lv2              44192 non-null  float64
 48  lv4              44192 non-null  float64
 49  mpgData          44179 non-null  object
 50  phevBlended      44192 non-null  object
 51  pv2              44192 non-null  float64
 52  pv4              44192 non-null  float64
 53  range            44192 non-null  float64
 54  rangeCity        44192 non-null  float64
 55  rangeCityA       44192 non-null  float64
 56  rangeHwy         44192 non-null  float64
 57  rangeHwyA        44192 non-null  float64
 58  trany            44181 non-null  object
 59  UCity            44192 non-null  float64
 60  UCityA           44192 non-null  float64
 61  UHighway         44192 non-null  float64
 62  UHighwayA        44192 non-null  float64
 63  youSaveSpend     44192 non-null  float64
 64  guzzler          2635 non-null   object
 65  trans_dscr       14391 non-null  object
 66  tCharger         8531 non-null   object
 67  sCharger         987 non-null    object
 68  atvType          4386 non-null   object
 69  fuelType2        1647 non-null   object
 70  rangeA           1642 non-null   object
 71  evMotor          1874 non-null   object
 72  mfrCode          15200 non-null  object
 73  c240Dscr         133 non-null    object
 74  charge240b       44170 non-null  float64
 75  c240bDscr        127 non-null    object
 76  createdOn        44170 non-null  object
 77  modifiedOn       44170 non-null  object
 78  startStop        14357 non-null  object
 79  phevCity         44170 non-null  float64
 80  phevHwy          44170 non-null  float64
 81  phevComb         44170 non-null  float64
dtypes: float64(57), int64(1), object(24)
memory usage: 28.9+ MB

In [42]:
#observamos cantidad de valores faltantes
veh_fuel.isnull().sum()

Year                0
Manufacturer        0
Model              10
barrels08          17
barrelsA08         17
                ...
modifiedOn       2016
startStop       31829
phevCity         2016
phevHwy          2016
phevComb         2016
Length: 82, dtype: int64